@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.header img {
    position: relative;
    float: left;
    width: 120px;
    height: 120px;
}

.header h1 {
    font-size: 13px;
    font-family: Arial;
    text-align: center;
}

.header table.head, td  {
    border: 1px solid;
    border-collapse: collapse;
}

.headinfo {
    font-size: 9px;
    font-family: Calibri;
    font-weight: bold;
}

.headinfo2 {
    font-size: 9px;
    font-family: Calibri;
}

.options {
    position: relative;
}

.options table {
    border: 5px solid;
    border-collapse: collapse;
}

.asd {
    font-size: 7px;
    font-weight: bold;
    font-family: "Times New Roman";
}

.options label {
    font-size: 7px;
    font-weight: bold;
    font-family: "Times New Roman";
}

input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}

.student table {
    position: relative;
    top: 0px;
    text-align: center;
    border-collapse: collapse;
}

.lesson table.right {
    position: relative;
    text-align: center;
    border-collapse: collapse;
}

.lesson table.left {
    position: relative;
    text-align: center;
    border-collapse: collapse;
    float: left;
}

.lesson label {
    position: ;
}

.footer table {
    position: relative;
    text-align: center;
    border-collapse: collapse;
    float: left;
}

.student table thead th {
    width: %50;
}